.headerContainer {
  display: flex;
  font-size: 15px;
}

.headerTitle {
  width: 99%;
  user-select: none;
}

.headerCollapseIcon {
  align-self: flex-end;
  border-left: solid black;
  padding-left: 10px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}
