.branchNameTag {
  border-radius: 5px;
  background: #0570d8;
  max-width: 150px;
  min-width: 50px;
  padding: 5px;
  color: azure;
  display: inline-block;
  user-select: none;
}

.branchSelector .branchNameTag {
  margin-right: 10px;
  cursor: pointer;
}

.branchSelector {
  display: inline-block;
}
