.gitCommitListItem {
  padding: 10px;
  border-left: 6px solid #e81e72;
  border-radius: 6px;
  margin: 10px;
  box-shadow: 1px 0 1px 1px rgba(16, 22, 26, 0.1),
    2px 3px 2px rgba(16, 22, 26, 0.2), 0 2px 6px rgba(16, 22, 26, 0.2);
  user-select: none;
}

.gitCommitHeaderContainer {
  display: flex;
  flex-flow: row;
  padding-bottom: 10px;
}

/* We tell all items to be 100% width, via flex-basis */
.gitCommitHeaderContainer > * {
  flex: 1 100%;
}
